body {
  background-color: #0f04e0;
  color: #fdffff;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

button {
  padding: 5px 20px;
  background-color: #19aaf2;
  color: #fdffff;
  border-style: none;
  
}

input {
  height: 26px;
}